@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(94, 92, 127);
  --background-color: rgb(248, 247, 253);
  --container-color: rgb(255, 255, 255);
  --primary-color: rgb(255, 107, 77);
  --primary-bg: #ff985c4d;
  --title-color: rgb(53, 50, 82);
  --text-color: rgb(94, 92, 127);
  --text-secondary: rgb(133, 131, 165);
  --stroke-color: #e7e7e7;
  --dots: url('../assets/dots-light.svg');
}

.dark {
  --foreground-color: rgb(159, 159, 159);
  --background-color: rgb(34, 40, 49);
  --container-color: rgb(49, 54, 63);
  --primary-color: rgb(255, 159, 140);
  --title-color: rgb(228, 230, 235);
  --text-color: rgb(163, 163, 163);
  --text-secondary: rgb(150, 150, 150);
  --stroke-color: rgb(62, 68, 78);
  --dots: url('../assets/dots-dark.svg');

}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  letter-spacing: .3px;
}

@layer utilities {
  .toggle {
    @apply top-5 rounded-lg fixed cursor-pointer h-10 w-fit px-3 bg-container text-text border border-stroke flex justify-center items-center z-10 transition-all duration-300 ease-in-out;
  }

  .transition-3s {
    @apply transition-all duration-300 ease-in-out
  }

  .card {
    @apply px-4 py-3 rounded-xl bg-container border border-stroke transition-3s
  }

  .btn {
    @apply px-3 py-2 leading-4 justify-center rounded-md shadow-sm bg-[#ff985c4d] border border-[#ffa04666] text-primary flex gap-1 items-center font-normal text-sm w-fit hover:border-primary transition-3s
  }
  .action-btn{
    @apply px-2 py-1 flex items-center rounded-[5px] border text-base transition-3s hover:text-white 
  }
  .action-btn-danger{
    @apply  bg-opacity-50 bg-red-500 hover:bg-red-500 text-red-500 dark:text-red-200  border-red-400 
  }
  .action-btn-warning{
    @apply  bg-opacity-50 bg-orange-400 hover:bg-orange-400 text-orange-500 dark:text-orange-200  border-orange-400 
  }
  .action-btn-primary{
    @apply  bg-opacity-50 bg-green-500 hover:bg-green-500 text-green-500 dark:text-green-200  border-green-400 
  }

  .hr {
    @apply border-stroke my-5;
  }

  .dots {
    @apply before:content-[''] before:absolute before:bg-dots before:h-9 before:w-9 before:-left-3 before:-top-3 before:-z-[1]
  }

  .form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }

  .form-label {
    @apply text-sm font-medium text-gray-900 dark:text-white;
  }

  .form-control {
    @apply mb-4;
  }

  .badge {
    @apply flex gap-2 whitespace-nowrap items-center py-2 px-3 border border-stroke rounded-md bg-container text-text
  }

  /* Override class */
  .css-13cymwt-control{
    @apply !bg-gray-50 !dark:bg-gray-700
  }

}
/* React Markdown Editor */
.code-highlight, .w-md-editor-area, .w-md-editor-preview {
  scrollbar-color: var(--text-secondary) transparent;
  scrollbar-width: thin;
}
.w-md-editor-content{
  background-color: #f9fafb;
}
.dark .w-md-editor-content{
  background-color: rgb(55 65 81) !important;
}
.w-md-editor-toolbar{
  background-color: rgb(31 41 55) !important;
  color: white;
}
.dark .w-md-editor-toolbar{
  background-color: #4b5563 !important;
  color: white;
}
.w-md-editor-toolbar li > button{
  color: white !important;
}
.w-md-editor-text{
  height: 100% !important;
}
.wmde-markdown{
  background-color: #ffffff !important;
  border-radius: 0 !important;
}
.dark .wmde-markdown{
  background-color: rgb(55 65 81) !important;
}
/* ============================ */

/* React Select */
.css-13cymwt-control, .css-t3ipsp-control{
  padding: 2px !important;
  border-radius: .5rem !important;
  box-shadow: none !important;
  border-color: #d3d7dc !important;
}

.css-13cymwt-control, .css-t3ipsp-control, .css-1nmdiq5-{
  background-color: #f9fafb !important;
  border-color: #d3d7dc !important;
}
.dark .css-13cymwt-control, .dark .css-t3ipsp-control, .dark .css-1nmdiq5-{
  border-color: rgb(75 85 99) !important;
  background-color: #374151  !important;
}
.css-1p3m7a8-multiValue{
  background-color: var(--primary-bg) !important;
  color: var(--primary-color) !important;
  border-radius: .25rem !important;
  border: 1px solid var(--primary-color);
}
.css-wsp0cs-MultiValueGeneric{
  color: rgb(255, 102, 0) !important;
}
.css-3w2yfm-ValueContainer{
  padding: 4px !important;
  gap: .2rem;
}

.dark .css-1dimb5e-singleValue{
  color: white;
}
.css-qbdosj-Input input{
  box-shadow: none !important;
}

/* Modal */
[data-testid="modal-overlay"]{
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background: #00000062;
  transition: .3s ease-in;
}

#nprogress .bar {
  background: var(--primary-color) !important;
  height: 2px !important;
  z-index: 9999999 !important;
}

#nprogress .bar {
  position: fixed !important;
}